{% extends 'base.html' %}

{% block header %}
  <h2 class="subheading">{% block title %}Generate a poem{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <form method="get" action="/load">
    <div class="form-group">
      <label for="subject">Your Subject:</label>
      <input type="text" name="subject" class="form-control" id="subject" aria-describedby="subjectInfo" placeholder="Enter subject" required>
      <small id="subjectInfo" class="form-text text-muted">What would you like the AI to write about?</small>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Generate a poem</button>
  </form>
{% endblock content %}