<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
  $(function() {
    $('a#save').on('click', function(e) {
      e.preventDefault()
      $.getJSON('/saving_poem_background?rating='+ document.getElementById('rating').value, function(data) {});
      return false;
    });
  });
</script>

{% extends 'base.html' %}

{% block header %}
  <h2 class="subheading">{% block title %}{{title}} by The Bloke{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<div class="poem">
  {% for line in aiResponse %}
    {% if line.text == '' %}
      <br>
    {% else %}
      <p>{{line.text}}</p>
    {% endif %}
  {% endfor %}
</div>
<form method="get" action="/saving_poem_background">
  <label for="rating">How would you rate this poem?</label>
  <input type="number" name="rating" class="form-control" id="rating" aria-describedby="ratingInfo" required>
  <a href=# id=save><button type="submit" class="btn btn-primary">Save Poem</button></a>
</form>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small class="text-muted">Just now</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>

{% endblock content %}
