{% extends 'base.html' %}

{% block header %}
  <h2 class="subheading">{% block title %}Saved poems{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <p>Here is where then best poems will be saved and displayed :)</p>
  <h1>Poem about {{ pid }}!</h1>
  <div>Rating: {{rating}}</div>
  <div class="poem">
    {% for line in poem %}
      {% if line.text == '' %}
        <br>
      {% else %}
        <p>{{line.text}}</p>
      {% endif %}
    {% endfor %}
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="{{ url_for('pages.savedpoems', pid=pidA) }}">Previous</a></li>
      <li class="page-item"><a class="page-link" href="{{ url_for('pages.savedpoems', pid=pidB) }}">{{pidB}}</a></li>
      <li class="page-item"><a class="page-link" href="{{ url_for('pages.savedpoems', pid=pidC) }}">{{pidC}}</a></li>
      <li class="page-item"><a class="page-link" href="{{ url_for('pages.savedpoems', pid=pidD) }}">{{pidD}}</a></li>
      <li class="page-item"><a class="page-link" href="{{ url_for('pages.savedpoems', pid=pidC) }}">Next</a></li>
    </ul>
  </nav>
{% endblock content %}